:root {
	--background-color: #A6A5A5;
	--lightest-color: #D9E6F7;
	--highlight-color: #ffffff;
	--highlight-color-dark: #000000;
	--hover-color: #444040;
	--bright-color-maroon: #83323E;
	--bright-color-light-pink: #AC7C83;
	--bright-color-tan: #D3BFB0;
	--bright-color-dark-blue: #3E4957;
	--bright-color-light-blue: #D9E6F7;
}

body {
	background: var(--background-color);
	color: var(--lightest-color);
	font-family: 'Merienda', cursive;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.circle-shape {
	width: 140px;
	height: 140px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid var(--lightest-color);
	margin: 0 auto;
}

.profile-pic {
	display: inline;
	margin: 0 auto;
	height: 100%;
	width: auto;
}

a {
	color: var(--lightest-color);
	text-decoration: none;
}

.ig-link {
	margin: 10px 0;
	font-weight: bold;
}

.link-list-item-dark {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	margin: 20px auto;
	color: var(--highlight-color);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 2px;
}

.link-list-item-light {
	border: 1px solid var(--lightest-color);
	box-sizing: border-box;
	margin: 20px auto;
	color: var(--highlight-color-dark);
	padding: 15px;
	text-align: center;
	transition: all 0.15s;
	border-radius: 2px;
}

.link-list-item-dark:hover,
a:hover {
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: 0 0 2em var(--hover-color);
}

.link-list-item-light:hover,
a:hover {
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: 0 0 2em var(--hover-color);
}

.icon-list-img {
	height: 50px;
	width: 50px;
	margin: 3px;
}

.maroon {
	background: var(--bright-color-maroon);
}

.lightpink {
	background: var(--bright-color-light-pink);
}

.tan {
	background: var(--bright-color-tan);
}

.darkblue {
	background: var(--bright-color-dark-blue);
}

.lightblue {
	background: var(--bright-color-light-blue);
}
